/**
* Fonts
*/
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Fira Sans', sans-serif;

$base-font-size: 14px;

/**
* Colors
*/
$primary-white: #FFFFFF;
$primary-black: #23182C;
$primary-gray: #6f6078;
$primary-theme: #cc1b6f; // #149ee6